#search-div {
    background-color: #ff0088;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    text-align: center;
    height: 15vh;
    width: 50%
}

#units {
    background-color: #ff0088;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    text-align: center;
    height: 5vh;
    width: 50%
}

#user-location {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin: 5px;
}

#data {
    background-color: #b6b6cf;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    text-align: center;
    height: 15vh;
    width: 50%
}