#search-div {
    background-color: #ff0088;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    text-align: center;
    height: 15vh;
    width: 50%
}

#units {
    background-color: #ff0088;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    text-align: center;
    height: 5vh;
    width: 50%
}

#user-location {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin: 5px;
}

#data {
    background-color: #b6b6cf;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    text-align: center;
    height: 15vh;
    width: 50%;
}

canvas {
    max-height: 450px;
    margin: 15px;
}

#current-weather {
    background-color: #ff0088;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    text-align: center;
    width: 50%
}

#24-forecast {
    background-color: #ff0088;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    text-align: center;
    width: 50%
}

#seven-day-cards {
    background-color: #dbcbd4;
    display: flex;
    overflow-x: auto;
    padding: 10px;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}

.day-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 100px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.day-card img {
    width: 50px;
    height: auto;
}